@import '@scss/abstracts/mixin';

.table-of-contents-item {
  cursor: pointer;
  list-style: none;
  letter-spacing: -0.8px;
  margin-top: 8px;

  @include hover-fine {
    @include text-gradient;
  }

  &.active {
    font-weight: 700;

    @include text-gradient;
  }
}
