@import '@scss/abstracts/mixin';

.post-filter {
  @include flex-center;

  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 1.5rem;

  background-color: var(--color-grey-5);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}
