@import '@scss/abstracts/mixin';

.series-box {
  font-size: 11pt;

  &.badge {
    padding: 4px 12px;
    border-radius: 16px;
    background-color: var(--color-grey-5);
    &:hover {
      background-color: var(--color-grey-4);
    }
  }

  &.normal {
    color: #a7a7a7;
    font-size: 9pt;
    font-weight: 400;
  }
}
