@import '@scss/abstracts/mixin';

.side-layout {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 260px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  background-color: var(--color-background);
  box-shadow: 6px 0 18px -5px var(--color-shadow);
  color: var(--color-font);

  .content {
    overflow: auto;
    width: 100%;
    flex: 1;
  }

  &.dim {
    z-index: 100;
  }
}
