.badge-box {
  display: flex;
  width: 100%;
  min-width: 48px;

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 9pt;
    color: #333;

    & + .badge {
      margin-left: 8px;
    }
  }
}
