@import '@scss/abstracts/mixin';

.filter-item {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 9.5pt;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  white-space: nowrap;
  background-color: var(--color-background);
  color: var(--color-font);

  &:hover {
    transform: scale(1.1);
  }
  &.active {
    z-index: 2;
    @include animationTada(0.2);
  }
}
