@import '@scss/abstracts/mixin';

.filter-item {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 9.5pt;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  white-space: nowrap;
  margin-top: 4px;
  margin-right: 12px;

  &:hover {
    transform: scale(1.1);
  }
  &.active {
    @include animationTada(0.2);
  }
}
