@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

.float-box {
  position: fixed;
  z-index: 8;
  bottom: 24px;
  right: 18px;
  .top-button-box {
    cursor: pointer;
    visibility: hidden;
    & .circle-icon-wrapper {
      background-color: #fff;
    }
    &.scroll {
      visibility: visible;
    }
  }
  @include superDesktop {
    display: none;
  }
}
