@import '@scss/abstracts/theme';
@import '@scss/abstracts/variables';

svg.weezip {
  &.pointer {
    cursor: pointer;
  }

  &.black {
    path {
      fill: #090909;
    }
  }
  &.white {
    path {
      fill: #f7f7f7;
    }
  }
  &.base {
    path {
      fill: #2f5d62;
    }
  }
  &.primary {
    path {
      fill: #5e8b7e;
    }
  }
  &.secondary {
    path {
      fill: #a7c4bc;
    }
  }
}
html[weezip-theme='light'] {
  svg.weezip {
    &.mono {
      path {
        fill: #090909;
      }
    }
    &.reverse-mono {
      path {
        fill: #f7f7f7;
      }
    }
  }
}

html[weezip-theme='dark'] {
  svg.weezip {
    &.mono {
      path {
        fill: #f7f7f7;
      }
    }
    &.reverse-mono {
      path {
        fill: #090909;
      }
    }
  }
}
