@import '@scss/abstracts/theme';
@import '@scss/abstracts/variables';

svg.weezip {
  &.mono {
    &.path {
      fill: var(--color-icon-mono);
    }
  }
  &.reverse-mono {
    &.path {
      fill: var(--color-icon-reverse-mono);
    }
  }
  &.primary {
    &.path {
      fill: $primary-color;
    }
  }
  &.secondary {
    &.path {
      fill: $secondary-color;
    }
  }
}
