@import '@scss/abstracts/mixin';

.list-filter-container {
  @include flexCenter;
  width: 100%;
  padding: 0px 0px 24px;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;

  .filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 2px;

    p.title {
      font-weight: 400;
      font-size: 11pt;
      color: var(--color-font);
      min-width: 48px;
    }

    .filter-box {
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 4px;
    }

    & + .filter {
      margin-top: 12px;
    }
  }
}
