@import '@scss/abstracts/mixin';
@import '@scss/abstracts/variables';

.list-filter-container {
  width: 100%;
  padding: 0px 0px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .filter {
    width: 100%;

    p.title {
      margin-bottom: 2px;
      font-weight: 400;
      font-size: 10pt;
      color: $black-color-6;
    }

    .filter-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    & + .filter {
      margin-top: 12px;
    }

    @include desktop {
      display: flex;
      align-items: center;
      p.title {
        width: 100px;
        margin-bottom: 0px;
      }
    }
  }
}
