@import '@scss/abstracts/variables';

.post-list-item {
  span.series {
    display: flex;
    margin-top: 12px;
    font-weight: 400;
    font-size: 9pt;
    color: #a7a7a7;
  }
  p {
    font-size: 15pt;
    font-weight: 500;
    margin-top: 8px;
  }
  .info-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .tag-box {
      margin-top: 8px;
      margin-right: 8px;
    }
    .date-box {
      margin-top: 8px;
      flex-grow: 1;
      text-align: right;
      span.date {
        color: $gray-color;
        font-size: 10pt;
      }
      span.date + span.date {
        margin-left: 8px;
      }
    }
  }
}
