@import '@scss/abstracts/mixin';
@import '@scss/abstracts/variables';

ul.block-header-index-list {
  width: 80%;
  text-decoration: underline;
  color: #555;
  line-height: 28px;
  margin-bottom: 0;
  padding-left: 0px;

  li {
    width: 100%;
    cursor: pointer;
    list-style: none;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  .tag-top,
  .tag-h2 {
    padding-left: 16px;
  }
  .tag-h3 {
    padding-left: 32px;
  }
}
