@import '@scss/abstracts/mixin';

ul.block-header-index-list {
  color: #555;
  line-height: 24px;
  margin-bottom: 0;
  padding-left: 0px;

  li {
    cursor: pointer;
    list-style: none;
    letter-spacing: -0.8px;

    + li {
      margin-top: 8px;
    }

    transition: color 0.2s;
    &:hover {
      text-decoration: underline;
      color: var(--color-primary);
    }

    &.active {
      font-weight: 700;
      color: var(--color-base);
      letter-spacing: normal;
    }
  }

  .tag-top,
  .tag-h2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .tag-h3 {
    padding-left: 32px;
    padding-right: 16px;
  }
}
