.reset-divider {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  color: var(--color-primary);

  span {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: 140px;
    font-size: 11pt;
  }
}
