@import '@scss/abstracts/mixin';

.circle-progress-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    @include animationRotate(1.1s);
    animation-iteration-count: infinite;
  }
}
