.block-divider {
  width: 100%;
  background-color: #e5e5e5;
  margin: 16px 0px;
  border-width: 0px;

  &.primary {
    background-color: var(--color-primary);
  }
  &.secondary {
    background-color: var(--color-secondary);
  }
}
