@import '@scss/abstracts/mixin';

a {
  text-decoration: none;
  transition: color 0.2s;
  &.underline {
    text-decoration: underline;
  }
  @include hoverFine {
    color: var(--color-primary);
  }
}
