@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

.my-button {
  border-radius: 8px;
  letter-spacing: -0.05px;
  cursor: pointer;
  @include flexCenter;
  transition: background-color 0.2s;

  &.SIZE-PRIMARY {
    padding: 10px;
    font-size: 12pt;
    height: 48px;
  }
  &.SIZE-SECONDARY {
    padding: 8px;
    height: 40px;
  }
  &.SIZE-THIRD {
    padding: 6px;
    height: 32px;
    border-radius: 4px;
  }
  &.SIZE-FOURTH {
    padding: 4px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
  }

  &.TYPE-BORDER {
    background-color: var(--color-reverse-mono);
    @include hoverFine {
      border: 1.5px solid var(--color-third);
      background-color: var(--color-third);
      color: var(--color-base);
    }
  }

  &.COLOR-PRIMARY.TYPE-BORDER {
    border: 1.5px solid var(--color-primary);
    color: var(--color-font);
  }
  &.COLOR-SECONDARY.TYPE-BORDER {
    border: 1.5px solid var(--color-secondary);
    color: var(--color-font);
  }

  &.COLOR-PRIMARY.TYPE-BG {
    background-color: var(--color-primary);
  }
  &.COLOR-SECONDARY.TYPE-BG {
    background-color: var(--color-secondary);
  }
}
