@import '@scss/abstracts/variables';

.my-button {
  border-radius: 12px;
  letter-spacing: -0.05px;
  cursor: pointer;

  &.SIZE-PRIMARY {
    padding: 10px;
    font-size: 12pt;
    height: 48px;
  }
  &.SIZE-SECONDARY {
    padding: 8px;
    height: 40px;
  }
  &.SIZE-THIRD {
    padding: 6px;
    height: 32px;
  }
  &.SIZE-FOURTH {
    padding: 4px;
    height: 24px;
  }

  &.COLOR-PRIMARY.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid $primary-color;

    &:hover {
      background-color: $primary-color;
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }
  &.COLOR-SECONDARY.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid $secondary-color;

    &:hover {
      background-color: $secondary-color;
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }
  &.COLOR-THIRD.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid $third-color;

    &:hover {
      background-color: $third-color;
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }

  &.COLOR-PRIMARY.TYPE-BG {
    background-color: $primary-color;
  }
  &.COLOR-SECONDARY.TYPE-BG {
    background-color: $secondary-color;
  }
  &.COLOR-THIRD.TYPE-BG {
    background-color: $third-color;
  }
}
