@import '@scss/abstracts/variables';

.my-button {
  border-radius: 8px;
  letter-spacing: -0.05px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.SIZE-PRIMARY {
    padding: 10px;
    font-size: 12pt;
    height: 48px;
  }
  &.SIZE-SECONDARY {
    padding: 8px;
    height: 40px;
  }
  &.SIZE-THIRD {
    padding: 6px;
    height: 32px;
    border-radius: 4px;
  }
  &.SIZE-FOURTH {
    padding: 4px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
  }

  &.COLOR-PRIMARY.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid var(--color-primary);
    color: var(--color-base);

    &:hover {
      background-color: var(--color-primary);
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }
  &.COLOR-SECONDARY.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid var(--color-secondary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-secondary);
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }
  &.COLOR-THIRD.TYPE-BORDER {
    background-color: $white-color-1;
    border: 1.5px solid var(--color-third);
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-third);
      border: 1.5px solid $white-color-1;
      color: $white-color-1;
    }
  }

  &.COLOR-PRIMARY.TYPE-BG {
    background-color: var(--color-primary);
  }
  &.COLOR-SECONDARY.TYPE-BG {
    background-color: var(--color-secondary);
  }
  &.COLOR-THIRD.TYPE-BG {
    background-color: var(--color-third);
  }
}
