@import '@scss/abstracts/variables';

.post-search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
  .post-search-box {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 130px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11),
      0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);

    .search-box {
      position: relative;
      width: 60%;
      height: 60px;
      display: flex;
      align-items: center;

      .search {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 0px;
        border-radius: 50px;
        padding: 12px 24px;
        box-sizing: border-box;
        font-size: 13pt;
        color: $black-color-3;
        border: 2px solid $secondary-color;
      }

      .icon-clear-box {
        position: absolute;
        right: 14px;
      }

      .icon-search-box {
        position: absolute;
        right: -40px;
      }
    }

    .recommend-box {
      margin-top: 12px;
      display: flex;
      align-items: center;
      column-gap: 12px;

      strong {
        font-size: 12px;
        color: $base-color;
      }

      .item {
        font-size: 13px;
        line-height: 12px;

        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .icon-close-box {
      position: absolute;
      right: 12px;
    }
  }
}
