@import '@scss/abstracts/mixin';

.tag-item {
  &.linked {
    font-size: 1rem;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: var(--color-grey-6);
    @include hover-fine {
      background-color: var(--color-grey-4);
    }
  }

  &.normal {
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 500;
  }
}
