.post__description {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  row-gap: 4px;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  &__right {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
