.post {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contents-box {
      max-width: 698px;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    row-gap: 36px;
  }
}
