.treepedia-layout {
  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 12px;
  }

  .desc {
    font-size: 11pt;
    color: var(--color-grey);
    margin-bottom: 8px;

    em {
      font-style: normal;
      color: var(--color-secondary);
    }
  }
}
