@import '@scss/abstracts/variables';

html[weezip-theme='light'] {
  --color-background: #f7f7f7;
  --color-background-lightly: #eee;
  --color-background-opacity: rgba(247, 247, 247, 0.95);
  --color-icon-mono: #090909;
  --color-font: #333;
  --color-shadow: #ccc;
}

html[weezip-theme='dark'] {
  --color-background: #090909;
  --color-background-lightly: #222;
  --color-background-opacity: rgba(51, 51, 51, 0.95);
  --color-icon-mono: #f7f7f7;
  --color-font: #ccc;
  --color-shadow: #333;
}
