// Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1024px;
$breakpoint-super-desktop: 1280px;

$base-color: #1b262c;
$primary-color: #0f4c75;
$secondary-color: #3282b8;
$third-color: #bbe1fa;

$gray-color: #b8b8b8;
$brown-color: #c9ac9f;
$orange-color: #e6a15f;
$yellow-color: #dbb271;
$blue-color: #96bbd2;
$pink-color: #cf72a2;
$red-color: #d95d58;
$green-color: #b2ffbf;
$purple-color: #9b6dc6;
$black-color: #333;
$white-color: #f7f7f7;
