// Breakpoints
$breakpoint-mobile: 380px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1024px;
$breakpoint-super-desktop: 1280px;

$base-color: #2f5d62;
$primary-color: #5e8b7e;
$secondary-color: #a7c4bc;
$third-color: #dfeeea;

$brown-color: #964b00;
$brown-color-1: #a75400;
$brown-color-2: #b85c00;
$brown-color-3: #c96500;

$orange-color: #ff7f00;
$orange-color-1: #f81;
$orange-color-2: #ff9022;
$orange-color-3: #f93;

$yellow-color: #eae039;
$yellow-color-1: #ece248;
$yellow-color-2: #ede558;
$yellow-color-3: #efe767;

$red-color: #cf352f;
$red-color-1: #d3423c;
$red-color-2: #d6504a;
$red-color-3: #d95d58;

$green-color: #26af48;
$green-color-1: #29bd4d;
$green-color-2: #2ccb53;
$green-color-3: #35d35c;

$blue-color: #4281ff;
$blue-color-1: #538dff;
$blue-color-2: #6498ff;
$blue-color-3: #75a3ff;

$purple-color: #9b6dc6;
$purple-color-1: #a379cb;
$purple-color-2: #ac85d0;
$purple-color-3: #b492d4;

$bluepurple-color: #626ddd;
$bluepurple-color-1: #707ae0;
$bluepurple-color-2: #7e87e3;
$bluepurple-color-3: #8c94e6;

$pink-color: #c470cd;
$pink-color-1: #c97dd1;
$pink-color-2: #ce89d6;
$pink-color-3: #d496da;
$pink-color-4: #d9a2df;
$pink-color-5: #deafe3;

$olive-color: #b3d400;
$olive-color-1: #c1e500;
$olive-color-2: #d0f600;
$olive-color-3: #d9ff08;

$black-color: #000;
$black-color-1: #090909;
$black-color-2: #111;
$black-color-3: #1a1a1a;
$black-color-4: #222;
$black-color-5: #2b2b2b;
$black-color-6: #333;

$white-color: #fff;
$white-color-1: #f7f7f7;
$white-color-2: #eee;
$white-color-3: #e6e6e6;
$white-color-4: #ddd;
$white-color-5: #d5d5d5;
$white-color-6: #ccc;

$gray-color: #a7a7a7;
$gray-color-1: #b0b0b0;
$gray-color-2: #b8b8b8;
$gray-color-3: #c1c1c1;
$gray-color-4: #c9c9c9;
$gray-color-5: #d2d2d2;
$gray-color-6: #dadada;
$gray-color-7: #e3e3e3;
$gray-color-8: #ebebeb;
$gray-color-9: #f3f3f3;
