// Breakpoints
$breakpoint-mobile: 380px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1024px;
$breakpoint-super-desktop: 1280px;

$base-color: #1b262c;
$primary-color: #0f4c75;
$secondary-color: #3282b8;
$third-color: #bbe1fa;

$gray-color: #a7a7a7;
$gray-color-1: #b0b0b0;
$gray-color-2: #b8b8b8;
$gray-color-3: #c1c1c1;
$gray-color-4: #c9c9c9;
$gray-color-5: #d2d2d2;
$gray-color-6: #dadada;
$gray-color-7: #e3e3e3;
$gray-color-8: #ebebeb;
$gray-color-9: #f3f3f3;
$brown-color: #c9ac9f;
$orange-color: #e6a15f;
$yellow-color: #dbb271;
$blue-color: #96bbd2;
$pink-color: #cf72a2;
$red-color: #d95d58;
$green-color: #00d077;
$purple-color: #9b6dc6;

$bluepurple-color: #626ddd;

$black-color: #000;
$black-color-1: #090909;
$black-color-2: #111;
$black-color-3: #1a1a1a;
$black-color-4: #222;
$black-color-5: #2b2b2b;
$black-color-6: #333;

$white-color: #fff;
$white-color-1: #f7f7f7;
$white-color-2: #eee;
$white-color-3: #e6e6e6;
$white-color-4: #ddd;
$white-color-5: #d5d5d5;
$white-color-6: #ccc;
