.tag-filter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2px 12px;

  p.title {
    min-width: 48px;
    color: var(--color-font);
    font-size: 11pt;
    font-weight: 400;
  }
}
