@import '@scss/abstracts/mixin';

footer {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  padding: 36px 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;

  .container {
    width: 100%;
    max-width: 768px;
    line-height: 18pt;
    color: var(--color-font-reverse);

    .contact-box {
      a {
        color: var(--color-white-5);
        display: flex;
      }
      p {
        margin-bottom: 6px;
      }
      .contact-item {
        display: flex;

        div + div {
          margin-left: 12px;
        }
      }
    }

    .item.refer-box a {
      margin-left: 8px;
      color: var(--color-font-reverse);
    }

    .item + .item {
      margin-top: 12px;
    }
  }
}
