@import '@scss/abstracts/mixin';

header {
  background-color: var(--color-background-opacity);
  @include flexCenter;
  flex-direction: row;
  width: 100%;
  height: 60px;
  box-shadow: 0px 3px 9px var(--color-shadow);
  margin-bottom: 12px;
  position: relative;
  z-index: 200;
  transition-duration: 0.2s;

  .right-box {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    column-gap: 12px;

    .icon-box {
      @include flexCenter;
      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: background-color 0.2s;
      @include hoverFine {
        background-color: var(--color-secondary);
        border-radius: 4px;
      }
    }

    svg {
      cursor: pointer;
    }
  }

  position: sticky;
  top: 0;
  height: 60px;
  @include animationFadeIn(300ms);

  &.invisible {
    position: sticky;
    top: -60px;
    height: 60px;
    @include animationFadeOut(300ms);
    .logo-box {
      display: none;
    }
  }
}
