@import '@scss/abstracts/mixin';

.latest-post {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;

    h2 {
      margin: 12px 0px;
    }

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 24px;

    li {
      @include flexCenter;
      min-height: 48px;
      border-radius: 8px;
      box-shadow:
        1px 1px 2px var(--color-primary),
        -1px -1px 2px var(--color-secondary);

      a {
        position: relative;
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1.2px solid var(--color-primary);
        border-radius: 8px;
        overflow: hidden;
        font-size: 1.05rem;

        p {
          margin-bottom: 1.45rem;
          flex: 1;
        }
        span {
          font-size: 0.75rem;
        }

        .corner {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 32px;
          height: 32px;
          overflow: hidden;
          bottom: 0;
          right: 0;
          z-index: -1;
          background-color: var(--color-corner);
          border-radius: 28px 0px 4px 0px;
          transform: scale(1);
          transition: transform 0.5s ease-out;
        }
        svg {
          position: absolute;
          right: 6px;
          bottom: 6px;
          transition: transform 0.4s;
        }
        @include hoverFine {
          .corner {
            transform: scale(62);
          }
          svg {
            transform: translateY(-6px);
          }
        }
      }
    }
  }
}
