@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

.post-list-empty-box {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 16px;
    font-weight: 500;
    font-size: 13pt;
    color: $primary-color;

    &:hover {
      svg {
        @include animationRotate(1s);
      }
    }
    svg {
      margin-right: 4px;
    }
  }
}

.post-list-box {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;

  li {
    background-color: $white-color-1;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1px;
    border-radius: 4px;
    padding: 20px 16px;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid $third-color;
      margin-bottom: 0px;
      p {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
    }
  }

  li + li {
    margin-top: 24px;
  }
}

.post-list-page-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  margin-top: 36px;

  .page-button {
    width: 120px;
    height: 100%;
    border: 1px solid $base-color;
    border-radius: 8px;
    background-color: $third-color;
    font-size: 12pt;
    font-weight: 400;
    color: $black-color-6;
    cursor: pointer;
    position: relative;

    &.prev {
      svg {
        position: absolute;
        left: 12px;
      }
      &.active:hover {
        svg {
          @include animationMotionLeft($distance: -8px);
        }
        text-decoration: underline;
      }
    }

    &.next {
      svg {
        position: absolute;
        right: 12px;
      }
      &.active:hover {
        svg {
          @include animationMotionRight($distance: 8px);
        }
        text-decoration: underline;
      }
    }

    &.disabled {
      background-color: $gray-color-7;
      opacity: 0.3;
      color: $black-color-6;
      cursor: default;
    }
  }
}
