@import '@scss/abstracts/mixin';

.post-index-container {
  background-color: var(--color-background-opacity);
  color: var(--color-font);
  border-radius: 12px;
  padding: 12px;
  margin: 24px 0px 48px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;

  .title-box {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p {
      font-size: 13pt;
      font-weight: 500;
      padding-top: 4px;
      padding-left: 6px;
      margin-bottom: 4px;
    }

    .icon-box {
      display: flex;
      align-items: center;
      transform: rotate(0);
      transition-duration: 0.2s;
      &.hide {
        transform: rotate(180deg);
      }
    }

    @include hoverFine {
      p {
        color: var(--color-primary);
      }
      svg path {
        fill: var(--color-primary);
      }
    }
  }

  .post-index-box {
    margin-top: 8px;
    &.hide {
      display: none;
    }
    ul {
      margin: 0;
      li {
        color: var(--color-font);
        @include ellipsis(1);
      }
    }
  }
}

.side-post-index {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  padding: 50px 0;
  overflow-y: auto;
}
