@import '@scss/abstracts/mixin';

.post-notice {
  @include flexCenter;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 4px;
  margin: 2rem 0;
  padding: 1.75rem 1.5rem;
  width: 100%;
  border-radius: 16px;
  background-color: var(--color-yellow);
  color: var(--color-black-6);

  svg + p {
    margin-top: 8px;
  }
  p {
    text-align: center;
    em {
      color: var(--color-red);
      font-style: normal;
      font-weight: 500;
    }
  }
}
