@keyframes snowflake-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflake-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflake-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes snowflake-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  left: 0;
  top: 0;

  .snowflake {
    pointer-events: none; /* 다른 클릭이나 인터랙션을 방해하지 않도록 */
    color: #fff;
    text-shadow: 0 0 1px #000;
    position: fixed;
    top: -10%;
    z-index: 0;
    user-select: none; /* 모든 브라우저를 위한 표준 속성 */
    cursor: default;

    /* 애니메이션 속성을 단순화하여 중복 제거 */
    animation:
      snowflake-fall 10s linear infinite running,
      snowflake-shake 3s ease-in-out infinite running;
  }
}
