@import '@scss/abstracts/mixin';

li {
  .posts-item {
    display: flex;
    flex-direction: column;
    padding: 28px 0;
    row-gap: 12px;

    @include mobile {
      padding: 20px 0;
    }

    p {
      margin-top: 8px;
      font-size: 15pt;
      font-weight: 500;
    }

    .info-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .date-box {
        flex-grow: 1;
        margin-top: 8px;
        text-align: right;

        span.date {
          color: var(--color-grey);
          font-size: 10pt;
        }

        span.date + span.date {
          margin-left: 8px;
        }
      }
    }
  }
}
