@import '@scss/abstracts/mixin';

.posts-item {
  box-sizing: content-box;
  border-radius: 4px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1px;
  background-color: var(--color-background);
  cursor: pointer;
  list-style: none;
  transition: color 0.2s;

  @include hover-fine {
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  .posts-item__content {
    display: flex;
    flex-direction: column;
    padding: 28px 0;

    @include mobile {
      padding: 20px 0;
    }

    p {
      margin: 8px 0px 12px;
      font-size: 15pt;
      font-weight: 500;
    }

    .info-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .date-box {
        flex-grow: 1;
        margin-top: 8px;
        text-align: right;

        span.date {
          color: var(--color-grey);
          font-size: 10pt;
        }

        span.date + span.date {
          margin-left: 8px;
        }
      }
    }
  }
}
