@import '@scss/abstracts/mixin';

.circle-icon-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.mono {
    border: 2px solid var(--color-mono);
    @include hoverFine {
      border: 2px solid var(--color-reverse-mono);
      svg path {
        fill: var(--color-reverse-mono);
      }
    }
  }

  &.reverse-mono {
    border: 2px solid var(--color-reverse-mono);
    @include hoverFine {
      border: 2px solid var(--color-mono);
      svg path {
        fill: var(--color-mono);
      }
    }
  }

  &.secondary {
    border: 2px solid var(--color-secondary);
    svg path {
      fill: var(--color-base);
    }
    @include hoverFine {
      border: 2px solid var(--color-base);
    }
  }
}
