@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

.circle-icon-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    border: 2px solid $black-color-1;
    &:hover {
      border: 2px solid $white-color-1;
      svg path {
        fill: $white-color-1;
      }
    }
  }

  &.white {
    border: 2px solid $white-color-1;
    &:hover {
      border: 2px solid $base-color;
      svg path {
        fill: $base-color;
      }
    }
  }

  &.secondary {
    border: 2px solid $secondary-color;
    svg path {
      fill: $base-color;
    }
    &:hover {
      border: 2px solid $base-color;
    }
  }
}
