.block-paragraph {
  line-height: 24px;
  width: fit-content;
}

.block-paragraph .gray {
  color: #b8b8b8;
}
.block-paragraph .gray_background {
  background-color: #b8b8b8;
  color: #000;
}
.block-paragraph .brown {
  color: #c9ac9f;
}
.block-paragraph .brown_background {
  background-color: #c9ac9f;
  color: #000;
}
.block-paragraph .orange {
  color: #e6a15f;
}
.block-paragraph .orange_background {
  background-color: #e6a15f;
  color: #000;
}
.block-paragraph .yellow {
  color: #dbb271;
}
.block-paragraph .yellow_background {
  background-color: #dbb271;
  color: #000;
}
.block-paragraph .blue {
  color: #96bbd2;
}
.block-paragraph .blue_background {
  background-color: #96bbd2;
  color: #000;
}
.block-paragraph .pink {
  color: #cf72a2;
}
.block-paragraph .pink_background {
  background-color: #cf72a2;
  color: #000;
}
.block-paragraph .red {
  color: #d95d58;
}
.block-paragraph .red_background {
  background-color: #d95d58;
  color: #000;
}
.block-paragraph .purple {
  color: #9b6dc6;
}
.block-paragraph .purple_background {
  background-color: #9b6dc6;
  color: #000;
}
.block-paragraph .black {
  color: #000;
}
.block-paragraph .black_background {
  background-color: #000;
  color: #fff;
}

.block-paragraph-text {
  width: fit-content;
}

.block-bulleted-list {
  line-height: 28px;
}
.block-bulleted-list::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.block-quote {
  border: 1px solid #1b262c;
  margin: 12px 0px;
  padding: 8px 12px;
  border-left: 4px solid #1b262c;
}

.block-todo {
  display: flex;
  align-items: center;
}
.block-todo input[type='checkbox'] {
  margin-left: 8px;
}
.block-todo label {
  margin-left: 4px;
}
