.block-paragraph {
  line-height: 24px;
}

.block-paragraph-text {
  width: fit-content;
}

.block-bulleted-list {
  line-height: 28px;
}
.block-bulleted-list::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
