@import './abstracts/variables';
@import './abstracts/mixin';

.gray {
  color: $gray-color;
}
.gray_background {
  background-color: $gray-color;
  color: $black-color-4;
}
.brown {
  color: $brown-color;
}
.brown_background {
  background-color: $brown-color;
  color: $black-color-4;
}
.orange {
  color: $orange-color;
}
.orange_background {
  background-color: $orange-color;
  color: $black-color-4;
}
.yellow {
  color: $yellow-color;
}
.yellow_background {
  background-color: $yellow-color;
  color: $black-color-4;
}
.blue {
  color: $blue-color;
}
.blue_background {
  background-color: $blue-color;
  color: $black-color-4;
}
.pink {
  color: $pink-color;
}
.pink_background {
  background-color: $pink-color;
  color: $black-color-4;
}
.red {
  color: $red-color;
}
.red_background {
  background-color: $red-color;
  color: $black-color-4;
}
.green {
  color: $green-color;
}
.green_background {
  background-color: $green-color;
  color: $black-color-4;
}
.purple {
  color: $purple-color;
}
.purple_background {
  background-color: $purple-color;
  color: $black-color-4;
}
.black {
  color: $black-color-4;
}
.black_background {
  background-color: $black-color-4;
  color: $white-color-1;
}

.logo {
  display: flex;
}

.block-paragraph {
  line-height: 28px;
  width: 100%;
}

.block-paragraph-text {
  width: fit-content;
}

.block-bulleted-list {
  line-height: 28px;
  padding-left: 20px;

  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
}

.block-numbered-list {
  line-height: 28px;
  padding-left: 20px;
}

.block-quote {
  margin: 12px 0px;
  padding: 8px 12px;
  border-left: 4px solid $primary-color;
  width: 100%;
  box-sizing: border-box;
}

.block-todo {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    margin-left: 8px;
  }
  label {
    margin-left: 4px;
  }
}

.block-callout {
  display: flex;
  background-color: #e5e5e5;
  padding: 12px 4px;
  padding-left: 40px;
  margin: 8px 0px;
  border-radius: 4px;
  position: relative;
  .icon-box {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16pt;
  }
}

.block-toggle {
  margin: 8px 0px 8px 4px;

  .toggle-title-box {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon-box {
      margin-top: 2px;
      margin-right: 6px;
      transform: rotate(0);
      transition-duration: 0.1s;
      &.open {
        transform: rotate(90deg);
      }
    }
  }
  .toggle-content-box {
    margin-left: 20px;
  }
}

.block-code {
  display: flex;
  background-color: #efefef;
  margin: 16px 0px;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;

  pre {
    white-space: pre-wrap;
    width: 100%;
    margin: 0;
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .language {
    color: $gray-color;
    padding: 8px 12px;
    font-size: 9pt;
  }
  .caption {
    color: $gray-color;
    padding: 2px 12px;
    font-size: 9pt;
  }
}

.block-divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 16px 0px;

  &.primary {
    background-color: $primary-color;
  }
  &.secondary {
    background-color: $secondary-color;
  }
}

.dim-wrapper {
  .dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(105, 105, 105, 0.4);
  }
}

.post-list-box {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;

  li {
    background-color: $white-color-1;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1px;
    border-radius: 4px;
    padding: 20px 16px;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid $third-color;
      margin-bottom: 0px;
      p {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
    }

    .post-list-item {
      span.series {
        display: flex;
        margin-top: 12px;
        font-weight: 400;
        font-size: 9pt;
        color: #a7a7a7;
      }
      p {
        font-size: 15pt;
        font-weight: 500;
        margin: 8px 0px;
      }
      .info-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .tag-box {
          margin-right: 8px;
        }
        span.date {
          color: $gray-color;
          font-size: 10pt;
        }
        span.date + span.date {
          margin-left: 8px;
        }
      }
    }
  }

  li + li {
    margin-top: 24px;
  }
}

.block-image {
  width: 100%;
  img {
    width: 100%;
    border-radius: 4px;
  }
  p {
    top: 100%;
    color: $gray-color;
    font-size: 10pt;
  }
}

.block-header-index-list {
  width: 80%;
  text-decoration: underline;
  color: #555;
  line-height: 28px;
  margin-bottom: 0;

  li {
    width: 100%;
    cursor: pointer;
    list-style: none;
    &:hover {
      text-decoration: underline;
      color: $secondary-color;
    }
  }

  .tag-h1 + .tag-h2,
  .tag-h2 + .tag-h2,
  .tag-h1 + .tag-h3 {
    padding-left: 16px;
  }
  .tag-h2 + .tag-h3,
  .tag-h3 + .tag-h3 {
    padding-left: 32px;
  }
}

.badge-box {
  display: flex;
  width: fit-content;
  min-width: 48px;

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 9pt;
    color: #333;

    & + .badge {
      margin-left: 8px;
    }
  }
}

.circle-icon-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.black {
    border: 2px solid $black-color-1;
    &:hover {
      border: 2px solid $white-color-1;
      svg path {
        fill: $white-color-1;
      }
    }
  }

  &.white {
    border: 2px solid $white-color-1;
    &:hover {
      border: 2px solid $black-color-1;
      svg path {
        fill: $black-color-1;
      }
    }
  }
}

.scroll-progress-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4px;
  z-index: 12;

  visibility: hidden;

  &.visible {
    @include animationFadeIn(400ms);
    visibility: visible;
  }

  .scroll-progress {
    height: 4px;
    border-radius: 8px;
    background-color: $secondary-color;
  }
}

.list-filter-container {
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .filter-item {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 9.5pt;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
    &.active {
      @include animationTada(0.2);
    }
  }

  .filter {
    width: 100%;
    p.title {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 11pt;
      color: $black-color-6;
    }

    .filter-box {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    & + .filter {
      margin-top: 12px;
    }
  }
}
