@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

html {
  min-width: 380px;
}

body {
  margin: 0px;
  min-width: 380px;
  background-color: $white-color-1;
  font-family: 'Noto Sans Korean', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  ::selection {
    background: $base-color;
    color: $white-color-2;
  }
}

main {
  color: $black-color-6;
}

a {
  color: $base-color;
  text-underline-position: under;
}

h1 {
  font-size: 2em;
  color: $base-color;
}

h2 {
  font-size: 1.5em;
  color: $base-color;
}

h3 {
  font-size: 1.2em;
  color: $base-color;
}

p {
  margin: 0px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.code-word {
  background-color: $gray-color-7;
  color: $red-color;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 11pt;
}

img.icon {
  width: 28px;
  height: 28px;
}

.gray {
  color: $gray-color;
}
.gray-border {
  border: 1px solid $gray-color;
  color: $black-color-4;
}
.brown {
  color: $brown-color;
}
.brown-border {
  border: 1px solid $brown-color;
  color: $black-color-4;
}
.orange {
  color: $orange-color;
}
.orange-border {
  border: 1px solid $orange-color;
  color: $black-color-4;
}
.yellow {
  color: $yellow-color;
}
.yellow-border {
  border: 1px solid $yellow-color;
  color: $black-color-4;
}
.blue {
  color: $blue-color;
}
.blue-border {
  border: 1px solid $blue-color;
  color: $black-color-4;
}
.pink {
  color: $pink-color;
}
.pink-border {
  border: 1px solid $pink-color;
  color: $black-color-4;
}
.red {
  color: $red-color;
}
.red-border {
  border: 1px solid $red-color;
  color: $black-color-4;
}
.green {
  color: $green-color;
}
.green-border {
  border: 1px solid $green-color;
  color: $black-color-4;
}
.purple {
  color: $purple-color;
}
.purple-border {
  border: 1px solid $purple-color;
  color: $black-color-4;
}
.black {
  color: $black-color-4;
}
.black-border {
  border: 1px solid $black-color-4;
  color: $white-color-1;
}

.bluepurple-border {
  border: 1px solid $bluepurple-color;
  color: $black-color-3;
}

.brown-3-border {
  border: 1px solid $brown-color-3;
  color: $black-color-3;
}

.pink-5-border {
  border: 1px solid $pink-color-5;
  color: $black-color-3;
}
