@import './abstracts/mixin';

.main-layout {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 60px;
    width: 100%;

    .content {
      box-sizing: border-box;
      width: 100%;
      min-height: calc(100vh - 50px - 12px);
      min-width: 360px;
      max-width: 768px;
      padding: 32px 40px 80px;
      word-wrap: break-word;
      position: relative;

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        .block-paragraph {
          text-align: center !important;
        }
      }
      @include tablet {
        padding: 8px 20px 30px;
      }

      @include mobile {
        padding: 8px 16px 24px;
      }
    }
  }
}
