@import './abstracts/variables';

.gnb-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 3px 9px #ccc;
  margin-bottom: 12px;

  a {
    text-decoration: none;
  }

  .gnb-item {
    padding: 12px 6px;
    font-size: 14pt;
    cursor: pointer;
  }
  .gnb-item:hover {
    text-decoration: underline;
  }
  .gnb-item + .gnb-item {
    margin-left: 12px;
  }
}
