@import '@scss/abstracts/mixin';

.block-paragraph {
  line-height: 28px;
  width: 100%;
}

.block-paragraph-text {
  width: fit-content;
}

.block-bulleted-list {
  line-height: 32px;
  padding-left: 20px;

  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
}

.block-numbered-list {
  line-height: 32px;
  padding-left: 20px;
}

.block-quote {
  margin: 12px 0px;
  padding: 8px 12px;
  border-left: 4px solid var(--color-primary);
  width: 100%;
  box-sizing: border-box;
}

.block-todo {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    margin-left: 8px;
  }
  label {
    margin-left: 4px;
  }
}

.block-callout {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 12px 16px 12px 4px;
  padding-left: 40px;
  margin: 8px 0px;
  border-radius: 4px;
  position: relative;
  .icon-box {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16pt;
  }
}

.block-toggle {
  margin: 8px 0px 8px 4px;

  .toggle-title-box {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon-box {
      margin-top: 2px;
      margin-right: 6px;
      transform: rotate(0);
      transition-duration: 0.1s;
      &.open {
        transform: rotate(90deg);
      }
    }
  }
  .toggle-content-box {
    margin-left: 20px;
  }
}

.block-code {
  display: flex;
  background-color: #efefef;
  margin: 16px 0px;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;

  pre {
    white-space: pre-wrap;
    width: 100%;
    margin: 0;
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .language {
    color: $gray-color;
    padding: 8px 12px;
    font-size: 9pt;
  }
  .caption {
    color: $gray-color;
    padding: 2px 12px;
    font-size: 9pt;
  }
}
