@import '@scss/abstracts/mixin';

.title-box {
  span.series-title {
    display: flex;
    margin-top: 12px;
    font-weight: 400;
    font-size: 11pt;
    color: var(--color-grey);
  }
  p.title {
    font-weight: 700;
    font-size: 24pt;
    margin: 4px 0px 12px;
  }
  .desc-box {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-box {
      margin-top: 6px;
    }
    .right-box {
      display: flex;
      align-items: center;
      margin-top: 6px;

      .copy-box {
        display: flex;
        align-items: center;
        margin-right: 8px;
        cursor: pointer;
      }
      .date-box {
        font-size: 12px;
        span.date {
          color: var(--color-grey-3);
          line-height: 23px;
        }
        span.date + span.date {
          margin-left: 12px;
        }
      }
    }
  }
}

.list-layout {
  .info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      cursor: pointer;
      margin-right: 8px;
      &:hover {
        @include animationRotate(1s);
      }
    }
    &.loading {
      svg {
        @include animationRotate(1s);
      }
    }

    .count-box {
      font-size: 10pt;
      color: var(--color-grey);
      @include ellipsis;
      strong {
        color: var(--color-secondary);
        font-weight: 600;
        span {
          color: var(--color-grey);
          font-weight: 400;
        }
      }
      span {
        color: var(--color-secondary);
        font-weight: 500;
      }
    }
  }
}

.post-layout {
  .title {
    margin-top: 4px;
    margin-bottom: 6px;
  }
  .bottom-box {
    margin-top: 60px;
    div.share-box {
      display: flex;
      justify-content: center;
      margin: 80px 0px 60px;
      .item + .item {
        margin-left: 8px;
      }
      .copy {
        width: fit-content;
      }
    }

    div.button-box {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    .series-button {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      span {
        color: var(--color-primary);
        margin-right: 4px;
        font-weight: 500;
      }
      &:hover {
        span {
          color: var(--color-white-1);
        }
      }
    }

    div.feedback-box {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & p + p {
        margin-top: 8px;
      }
    }
  }
}
