@import '@scss/abstracts/variables';
@import '@scss/abstracts/mixin';

.title-box {
  span.series-title {
    display: flex;
    margin-top: 12px;
    font-weight: 400;
    font-size: 11pt;
    color: $gray-color;
  }
  p.title {
    font-weight: 700;
    font-size: 24pt;
    margin: 4px 0px 12px;
  }
  .desc-box {
    width: 100%;
    text-align: right;
    span.date {
      color: $gray-color-3;
      line-height: 23px;
    }
    span.date + span.date {
      margin-left: 12px;
    }
  }
}

.index-box {
  background-color: #e5e5e5;
  border-radius: 12px;
  padding: 12px;
  margin: 24px 0px 48px;
  width: 100%;
  box-sizing: border-box;

  p {
    font-size: 13pt;
    font-weight: 500;
    padding-top: 4px;
    padding-left: 6px;
    margin-bottom: 4px;
  }

  li {
    width: 600px;
    @include ellipsis(1);
  }
}

.list-layout {
  .info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      cursor: pointer;
      margin-right: 8px;
      &:hover {
        @include animationRotate(1s);
      }
    }
    &.loading {
      svg {
        @include animationRotate(1s);
      }
    }

    .count-box {
      font-size: 10pt;
      color: $gray-color;
      @include ellipsis;
      strong {
        color: $secondary-color;
        font-weight: 600;
        span {
          color: $gray-color;
          font-weight: 400;
        }
      }
      span {
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }
}

.post-layout {
  .title {
    margin-top: 0px;
    margin-bottom: 6px;
  }
  .bottom-box {
    margin-top: 60px;
    button + button {
      margin-top: 12px;
    }
    .series-button {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      span {
        color: $primary-color;
        margin-right: 4px;
        font-weight: 500;
      }
      &:hover {
        span {
          color: $white-color-1;
        }
      }
    }
  }
}
