.filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px 12px;

  .title {
    font-weight: 400;
    font-size: 11pt;
    color: var(--color-font);
    min-width: 48px;
  }
}
