@import '@scss/abstracts/mixin';

.treepedia-post {
  box-sizing: content-box;
  border-radius: 16px;
  background-color: var(--color-grey-6);
  box-shadow: var(--color-grey-4) 8px 8px 25px -12px;
  cursor: pointer;
  list-style: none;
  transition: color 0.2s;
  transition: all 0.23s ease-in-out;

  @include hover-fine {
    transform: rotate3d(0.5, 1, 0, 6deg) scale(1.02);
  }

  a {
    display: block;
    height: 100%;
  }

  &__content {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 24px;
    row-gap: 8px;

    @include mobile {
      padding: 20px 24px;
    }

    > span {
      color: var(--color-base);

      &.star-5 {
        color: var(--color-green);
      }
    }

    strong {
      margin-top: 8px;
      color: var(--color-base);
      font-size: 15pt;
      font-weight: 500;
    }

    p {
      flex: 1;
      font-size: 12pt;
      font-weight: 400;
    }
  }
}
