@import '@scss/abstracts/mixin';

header {
  background-color: var(--color-background-opacity);

  @include flex-center;

  flex-direction: row;
  width: 100%;
  box-shadow: 0 3px 9px var(--color-shadow);
  margin-bottom: 12px;
  z-index: 200;
  transition-duration: 0.2s;

  .right-box {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    column-gap: 12px;

    .icon-box {
      @include flex-center;

      width: 36px;
      height: 36px;
      cursor: pointer;
      transition: background-color 0.2s;

      @include hover-fine {
        background-color: var(--color-secondary);
        border-radius: 4px;
      }
    }

    svg {
      cursor: pointer;
    }
  }

  position: sticky;
  top: 0;
  height: 60px;

  @include animation-fade-in(300ms);

  &.invisible {
    position: sticky;
    top: -60px;
    height: 60px;

    @include animation-fade-out(300ms);

    .logo-box {
      display: none;
    }
  }
}
